body { background: #c2077d; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 19px; display: flex; }
.block-product-0 { color: #20fb62; font-size: 18px; margin-bottom: 5px; }
.block-sms-1 { color: #3d932c; font-size: 15px; margin-bottom: 5px; }
.block-logger-2 { color: #19479e; font-size: 12px; margin-bottom: 5px; }
.block-shipping-3 { color: #b7b7dd; font-size: 12px; margin-bottom: 5px; }
.block-payment-4 { color: #72c64a; font-size: 13px; margin-bottom: 5px; }
.block-product-5 { color: #c6dd4c; font-size: 16px; margin-bottom: 5px; }
.block-database-6 { color: #fd8998; font-size: 14px; margin-bottom: 5px; }
.block-helper-7 { color: #1e52e8; font-size: 18px; margin-bottom: 5px; }
.block-payment-8 { color: #5808a5; font-size: 17px; margin-bottom: 5px; }
.block-logger-9 { color: #2bac57; font-size: 21px; margin-bottom: 5px; }
.block-invoice-10 { color: #9cf1cf; font-size: 15px; margin-bottom: 5px; }
.block-product-11 { color: #81da27; font-size: 14px; margin-bottom: 5px; }